@font-face {
  font-family: "Inter";
  src: url(/styles/Inter-Regular.woff) format("woff"),
    url(/styles/Inter-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url(/styles/Inter-Bold.woff) format("woff"),
    url(/styles/Inter-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: bold;
}
